AZURE_OPENAI_ENDPOINT="https://.openai.azure.com/"
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="gpt-4o"
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME="text-embedding-ada-002"
AZURE_OPENAI_API_VERSION="2024-10-21"
AZURE_SQL_CONNECTION_STRING='Driver={ODBC Driver 18 for SQL Server};Server=.database.windows.net,1433;Database=;Encrypt=yes;Connection Timeout=30'