MSSQL='Server=.database.windows.net;Initial Catalog=;Persist Security Info=False;User ID=sessiondb;Authentication=Active Directory Default;Connection Timeout=30;'
OPENAI_URL='https://.openai.azure.com/'
OPENAI_KEY=''
OPENAI_MODEL='text-embedding-ada-002'